<h2>注文履歴一覧</h2>

<table>
  <thead>
    <tr>
      <th>購入日時</th>
      <th>購入者</th>
      <th>注文個数</th>
    </tr>
  </thead>
  <% @order.each do |order| %>
  <tbody>
    <tr>
      <td><%= @order.creadet_at %></td>
      <td><%= @order.customer.last_name %><%= @order.customer.first_name %></td>
      <td><%= @order.amount %></td>
    </tr>
  </tbody>
  <% end %>
</table>