<h4>ショッピングカート</h4>
<!--<= link_to "カートを空にする", cart_item_path, method: :destroy_all %>-->

<table class="table">
  <thead>
    <tr>
      <th scope="col">商品名</th>
      <th scope="col">単価(税込)</th>
      <th scope="col">数量</th>
      <th scope="col">小計</th>
      <th scope="col"></th>
    </tr>
  </thead>

  <tbody>
    <% @cart_items.each do |cart_item| %>
    <tr>
      <td><%= cart_item.item.name %></td>
      <td><%= cart_item.item.with_tax_price %></td>
      <td><%= cart_item.amount %></td>
      <td><%= cart_item.subtotal %></td>
      <td>
        <!--< link_to"削除する", url: cart_item_path(@cart_item.id), method: :delete %>-->
      </td>
    </tr>
    <% end %>
  </tbody>
</table>

<p>合計金額</p>
<%