<h4>商品一覧</h4><h4>（全件）</h4>

<% @items.each do |item| %>

<%= image_tag item.get_image(60,60) %>
<%= link_to item_path(item.id) do %>
<p><%= item.name %></p>
<% end %>
<p><%= item.price %></p>

<% end %>